<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title_text</key>
		<string>ClearVu</string>
		<key>animation_name</key>
		<string>clearvu_logo.mvid</string>
		<key>video_name</key>
		<string>clearvu_00.mp4</string>
		<key>resource</key>
		<dict>
			<key>directory</key>
			<string>ClearVu</string>
			<key>sections</key>
			<array>
				<string>Testing Simulation</string>
				<string>Videos</string>
				<string>Photo Gallery</string>
				<string>Technical Specifications</string>
				<string>Case Studies</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>title_text</key>
		<string>Shadow Wall</string>
		<key>video_name</key>
		<string>clearvu_01.mp4</string>
	</dict>
	<dict>
		<key>title_text</key>
		<string>CV-22</string>
		<key>video_name</key>
		<string>clearvu_02.mp4</string>
		<key>resource</key>
		<dict>
			<key>directory</key>
			<string>CV22</string>
			<key>sections</key>
			<array>
				<string>Testing Simulation</string>
				<string>Videos</string>
				<string>Photo Gallery</string>
				<string>Technical Specifications</string>
				<string>Case Studies</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>title_text</key>
		<string>Reinforced</string>
		<key>video_name</key>
		<string>clearvu_03.mp4</string>
		<key>resource</key>
		<dict>
			<key>directory</key>
			<string>Reinforced</string>
			<key>sections</key>
			<array>
				<string>Testing Simulation</string>
				<string>Videos</string>
				<string>Photo Gallery</string>
				<string>Technical Specifications</string>
				<string>Case Studies</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>title_text</key>
		<string>Shutter Mesh</string>
		<key>video_name</key>
		<string>clearvu_04.mp4</string>
	</dict>
	<dict>
		<key>title_text</key>
		<string>Anti Stampede</string>
		<key>video_name</key>
		<string>clearvu_05.mp4</string>
	</dict>
	<dict>
		<key>title_text</key>
		<string>Critical Infrastructure</string>
		<key>video_name</key>
		<string>clearvu_06.mp4</string>
	</dict>
	<dict>
		<key>title_text</key>
		<string>Balustrade</string>
		<key>video_name</key>
		<string>clearvu_07.mp4</string>
	</dict>
	<dict>
		<key>title_text</key>
		<string>Parkland</string>
		<key>video_name</key>
		<string>clearvu_08.mp4</string>
	</dict>
	<dict>
		<key>title_text</key>
		<string>Pool Fence</string>
		<key>video_name</key>
		<string>clearvu_09.mp4</string>
	</dict>
</array>
</plist>
