<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title_text</key>
		<string>CRITICAL INFRASTRUCTURE</string>
		<key>primary_asset_name</key>
		<string>product_sprite_0</string>
		<key>secondary_asset_name</key>
		<string>product_large_00.mp4</string>
		<key>loop_video</key>
		<true/>
		<key>action_type</key>
		<string>show detail</string>
	</dict>
	<dict>
		<key>title_text</key>
		<string>SHADOW WALL</string>
		<key>primary_asset_name</key>
		<string>product_sprite_1</string>
		<key>secondary_asset_name</key>
		<string>product_large_01.mp4</string>
		<key>loop_video</key>
		<true/>
		<key>action_type</key>
		<string>show detail</string>
	</dict>
	<dict>
		<key>title_text</key>
		<string>CLEARVU REINFORCED</string>
		<key>primary_asset_name</key>
		<string>product_sprite_2</string>
		<key>secondary_asset_name</key>
		<string>product_large_02.mp4</string>
		<key>loop_video</key>
		<true/>
		<key>action_type</key>
		<string>show detail</string>
	</dict>
	<dict>
		<key>title_text</key>
		<string>CLEARVU</string>
		<key>primary_asset_name</key>
		<string>product_sprite_3</string>
		<key>secondary_asset_name</key>
		<string>product_large_03.mp4</string>
		<key>loop_video</key>
		<true/>
		<key>action_type</key>
		<string>show detail</string>
	</dict>
	<dict>
		<key>title_text</key>
		<string>RAPID DEPL. TRAILER</string>
		<key>primary_asset_name</key>
		<string>product_sprite_4</string>
		<key>secondary_asset_name</key>
		<string>product_large_04.mp4</string>
		<key>loop_video</key>
		<true/>
		<key>action_type</key>
		<string>show detail</string>
	</dict>
	<dict>
		<key>title_text</key>
		<string>SMART COIL</string>
		<key>primary_asset_name</key>
		<string>product_sprite_5</string>
		<key>secondary_asset_name</key>
		<string>product_large_05.mp4</string>
		<key>loop_video</key>
		<true/>
		<key>action_type</key>
		<string>show detail</string>
	</dict>
	<dict>
		<key>title_text</key>
		<string>FLOATING BARRIER</string>
		<key>primary_asset_name</key>
		<string>product_sprite_6</string>
		<key>secondary_asset_name</key>
		<string>product_large_06.mp4</string>
		<key>loop_video</key>
		<true/>
		<key>action_type</key>
		<string>show detail</string>
	</dict>
	<dict>
		<key>title_text</key>
		<string>ROCKET BARRIER</string>
		<key>primary_asset_name</key>
		<string>product_sprite_7</string>
		<key>secondary_asset_name</key>
		<string>product_large_07.mp4</string>
		<key>loop_video</key>
		<true/>
		<key>action_type</key>
		<string>show detail</string>
	</dict>
	<dict>
		<key>title_text</key>
		<string>TANGLE TAPE</string>
		<key>primary_asset_name</key>
		<string>product_sprite_8</string>
		<key>secondary_asset_name</key>
		<string>product_large_08.mp4</string>
		<key>loop_video</key>
		<true/>
		<key>action_type</key>
		<string>show detail</string>
	</dict>
	<dict>
		<key>title_text</key>
		<string>RIBBON STRIP</string>
		<key>primary_asset_name</key>
		<string>product_sprite_9</string>
		<key>secondary_asset_name</key>
		<string>product_large_09.mp4</string>
		<key>loop_video</key>
		<true/>
		<key>action_type</key>
		<string>show detail</string>
	</dict>
	<dict>
		<key>title_text</key>
		<string>RAZOR MESH</string>
		<key>primary_asset_name</key>
		<string>product_sprite_10</string>
		<key>secondary_asset_name</key>
		<string>product_large_10.mp4</string>
		<key>loop_video</key>
		<true/>
		<key>action_type</key>
		<string>show detail</string>
	</dict>
	<dict>
		<key>title_text</key>
		<string>ANTI-RAM</string>
		<key>primary_asset_name</key>
		<string>product_sprite_11</string>
		<key>secondary_asset_name</key>
		<string>product_large_11.mp4</string>
		<key>loop_video</key>
		<true/>
		<key>action_type</key>
		<string>show detail</string>
	</dict>
	<dict>
		<key>title_text</key>
		<string>SPECS</string>
		<key>primary_asset_name</key>
		<string>product_sprite_12</string>
		<key>secondary_asset_name</key>
		<string>menu.info_specifications</string>
		<key>loop_video</key>
		<false/>
		<key>action_type</key>
		<string>navigate</string>
	</dict>
	<dict>
		<key>title_text</key>
		<string>WALL SPIKES</string>
		<key>primary_asset_name</key>
		<string>product_sprite_13</string>
		<key>secondary_asset_name</key>
		<string>product_large_13.mp4</string>
		<key>loop_video</key>
		<true/>
		<key>action_type</key>
		<string>show detail</string>
	</dict>
	<dict>
		<key>title_text</key>
		<string>FLAT WRAP</string>
		<key>primary_asset_name</key>
		<string>product_sprite_14</string>
		<key>secondary_asset_name</key>
		<string>product_large_14.mp4</string>
		<key>loop_video</key>
		<true/>
		<key>action_type</key>
		<string>show detail</string>
	</dict>
</array>
</plist>
