<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title_text</key>
		<string>Related damage, injuries or death</string>
		<key>video_file</key>
		<string>CoR_1.mp4</string>
	</dict>
	<dict>
		<key>title_text</key>
		<string>Loss of revenue due to lost functions</string>
		<key>video_file</key>
		<string>CoR_2.mp4</string>
	</dict>
	<dict>
		<key>title_text</key>
		<string>Replacement cost of assets</string>
		<key>video_file</key>
		<string></string>
	</dict>
	<dict>
		<key>title_text</key>
		<string>Impact on reputation</string>
		<key>video_file</key>
		<string></string>
	</dict>
	<dict>
		<key>title_text</key>
		<string>Negative media coverage</string>
		<key>video_file</key>
		<string></string>
	</dict>
	<dict>
		<key>title_text</key>
		<string>Lack of insurance coverage</string>
		<key>video_file</key>
		<string></string>
	</dict>
	<dict>
		<key>title_text</key>
		<string>Poor employee morale, leading to work stoppages</string>
		<key>video_file</key>
		<string></string>
	</dict>
	<dict>
		<key>title_text</key>
		<string>Management time</string>
		<key>video_file</key>
		<string></string>
	</dict>
	<dict>
		<key>title_text</key>
		<string>Additional man guards</string>
		<key>video_file</key>
		<string></string>
	</dict>
	<dict>
		<key>title_text</key>
		<string>Additional CCTV cameras</string>
		<key>video_file</key>
		<string></string>
	</dict>
	<dict>
		<key>title_text</key>
		<string>Restricted movement of key personnel</string>
		<key>video_file</key>
		<string></string>
	</dict>
</array>
</plist>
