<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title_text</key>
		<string>RAZOR MESH</string>
		<key>video_file</key>
		<string>specs_info_00.mp4</string>
		<key>navigation_id</key>
		<string></string>
		<key>model_video_file</key>
		<string>main_interface_00.mvid</string>
		<key>security_level_video</key>
		<string>info_spec_security_00.mvid</string>
		<key>security_level_image</key>
		<string>info_spec_security_frame_00</string>
		<key>detail_array</key>
		<array>
			<string>Sharper, longer blades</string>
			<string>Virtually unclimbable</string>
			<string>Extremely difficult to cut</string>
			<string>No need for additional razor wire</string>
			<string>Easy to install</string>
		</array>
	</dict>
	<dict>
		<key>title_text</key>
		<string>MARINE FLOATING BARRIER</string>
		<key>video_file</key>
		<string>specs_info_01.mp4</string>
		<key>navigation_id</key>
		<string></string>
		<key>model_video_file</key>
		<string>main_interface_01.mvid</string>
		<key>security_level_video</key>
		<string>info_spec_security_01.mvid</string>
		<key>security_level_image</key>
		<string>info_spec_security_frame_01</string>
		<key>detail_array</key>
		<array>
			<string>Almost unsinkable</string>
			<string>No place for hand or foothold</string>
			<string>Deadly spikes</string>
			<string>Coupled to any length</string>
			<string>25 Tonne breaking strength</string>
		</array>
	</dict>
	<dict>
		<key>title_text</key>
		<string>RAPID DEPLOYMENT BARRIER</string>
		<key>video_file</key>
		<string>specs_info_02.mp4</string>
		<key>navigation_id</key>
		<string></string>
		<key>model_video_file</key>
		<string>main_interface_02.mvid</string>
		<key>security_level_video</key>
		<string>info_spec_security_02.mvid</string>
		<key>security_level_image</key>
		<string>info_spec_security_frame_02</string>
		<key>detail_array</key>
		<array>
			<string>Deploys 100m of coil in 15 seconds</string>
			<string>Almost impossible to cut with standard tools</string>
			<string>Uplift and recompression in minutes</string>
			<string>Three configurations</string>
			<string>Three barrier options</string>
		</array>
	</dict>
	<dict>
		<key>title_text</key>
		<string>ROCKET BARRIER</string>
		<key>video_file</key>
		<string>specs_info_03.mp4</string>
		<key>navigation_id</key>
		<string></string>
		<key>model_video_file</key>
		<string>main_interface_03.mvid</string>
		<key>security_level_video</key>
		<string>info_spec_security_03.mvid</string>
		<key>security_level_image</key>
		<string>info_spec_security_frame_03</string>
		<key>detail_array</key>
		<array>
			<string>14m high rocket screen</string>
			<string>Engineered to withstand 100 year wind pattern</string>
			<string>Mesh supplied in pre-assembled bolt-on panels</string>
			<string>Corrosion proofing for increased ilfespan</string>
			<string>All components designed to fit in a 12m container</string>
		</array>
	</dict>
	<dict>
		<key>title_text</key>
		<string>SMART COIL</string>
		<key>video_file</key>
		<string>specs_info_04.mp4</string>
		<key>navigation_id</key>
		<string></string>
		<key>model_video_file</key>
		<string>main_interface_04.mvid</string>
		<key>security_level_video</key>
		<string>info_spec_security_04.mvid</string>
		<key>security_level_image</key>
		<string>info_spec_security_frame_04</string>
		<key>detail_array</key>
		<array>
			<string>Ripper blade</string>
			<string>Extremely difficult to cut</string>
			<string>Includes covert detection unit - intrusion alert</string>
			<string>Separate energiser delivers 7000 non-lethal volts</string>
			<string>Easy to install on an existing structure or barrier</string>
		</array>
	</dict>
	<dict>
		<key>title_text</key>
		<string>ANTI-RAM BARRIER</string>
		<key>video_file</key>
		<string>specs_info_05.mp4</string>
		<key>navigation_id</key>
		<string></string>
		<key>model_video_file</key>
		<string>main_interface_05.mvid</string>
		<key>security_level_video</key>
		<string>info_spec_security_05.mvid</string>
		<key>security_level_image</key>
		<string>info_spec_security_frame_05</string>
		<key>detail_array</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<dict>
		<key>title_text</key>
		<string>CLEARVU</string>
		<key>video_file</key>
		<string></string>
		<key>navigation_id</key>
		<string>menu.clearvu</string>
		<key>model_video_file</key>
		<string></string>
		<key>security_level_video</key>
		<string></string>
		<key>security_level_image</key>
		<string></string>
		<key>detail_array</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
</array>
</plist>
