<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title_text</key>
	<string>title</string>
	<key>video_file</key>
	<string>primaryFilename</string>
	<key>model_video_file</key>
	<string>modelVideoName</string>
	<key>security_level_video</key>
	<string>securityLevelVideoName</string>
	<key>security_level_image</key>
	<string>securityLevelImageName</string>
	<key>detail_array</key>
	<string>details</string>
</dict>
</plist>
