<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>menu_items</key>
	<array>
		<dict>
			<key>identifier</key>
			<string>menu.introduction</string>
			<key>title</key>
			<string>Explore Cochrane</string>
			<key>icon</key>
			<string></string>
			<key>content_wireframes</key>
			<array>
				<dict>
					<key>presenter</key>
					<dict>
						<key>class</key>
						<string>CPSAccessPagePresenter</string>
					</dict>
					<key>view</key>
					<dict>
						<key>storyboard</key>
						<string>Main</string>
						<key>identifier</key>
						<string>AccessPageViewController</string>
					</dict>
				</dict>
				<dict>
					<key>interactor</key>
					<dict>
						<key>class</key>
						<string>CPSVideoPlayerInteractor</string>
						<key>arguments</key>
						<dict>
							<key>videoName</key>
							<string>Cochrane_Logo.mp4</string>
						</dict>
					</dict>
					<key>presenter</key>
					<dict>
						<key>class</key>
						<string>CPSVideoPlayerPresenter</string>
					</dict>
					<key>view</key>
					<dict>
						<key>identifier</key>
						<string>VideoPlayerViewController</string>
					</dict>
				</dict>
				<dict>
					<key>interactor</key>
					<dict>
						<key>class</key>
						<string>CPSVideoPlayerInteractor</string>
						<key>arguments</key>
						<dict>
							<key>videoName</key>
							<string>Partners.mp4</string>
						</dict>
					</dict>
					<key>presenter</key>
					<dict>
						<key>class</key>
						<string>CPSVideoPlayerPresenter</string>
					</dict>
					<key>view</key>
					<dict>
						<key>identifier</key>
						<string>VideoPlayerViewController</string>
					</dict>
				</dict>
				<dict>
					<key>interactor</key>
					<dict>
						<key>class</key>
						<string>CPSVideoPlayerInteractor</string>
						<key>arguments</key>
						<dict>
							<key>videoName</key>
							<string>Cost_of_risk_intro.mp4</string>
						</dict>
					</dict>
					<key>presenter</key>
					<dict>
						<key>class</key>
						<string>CPSVideoPlayerPresenter</string>
					</dict>
					<key>view</key>
					<dict>
						<key>identifier</key>
						<string>VideoPlayerViewController</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>identifier</key>
			<string>menu.cost_of_risk</string>
			<key>title</key>
			<string>Risk</string>
			<key>icon</key>
			<string></string>
			<key>content_wireframes</key>
			<array>
				<dict>
					<key>wireframe</key>
					<dict>
						<key>class</key>
						<string>CPSCostOfRiskWireframe</string>
					</dict>
					<key>interactor</key>
					<dict>
						<key>class</key>
						<string>CPSCostOfRiskInteractor</string>
						<key>resource_loaders</key>
						<array>
							<dict>
								<key>class</key>
								<string>CPSPropertyMappingResourceLoader</string>
								<key>arguments</key>
								<dict>
									<key>mapping</key>
									<string>cost_of_risk_item_mapping</string>
									<key>instance_class</key>
									<string>CPSAssetItem</string>
									<key>target_data_keypath</key>
									<string>videoItems</string>
									<key>data_file</key>
									<string>cost_of_risk_resource</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>presenter</key>
					<dict>
						<key>class</key>
						<string>CPSCostOfRiskPresenter</string>
						<key>arguments</key>
						<dict>
							<key>introVideoFilename</key>
							<string>CoR_Background.mp4</string>
						</dict>
					</dict>
					<key>view</key>
					<dict>
						<key>identifier</key>
						<string>CostOfRiskViewController</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>identifier</key>
			<string>menu.key_industries</string>
			<key>title</key>
			<string>Experience</string>
			<key>icon</key>
			<string></string>
			<key>content_wireframes</key>
			<array>
				<dict>
					<key>wireframe</key>
					<dict>
						<key>class</key>
						<string>CPSKeyIndustriesWireframe</string>
						<key>arguments</key>
						<dict>
							<key>detailViewControllerIdentifier</key>
							<string>KeyIndustriesDetailViewController</string>
						</dict>
					</dict>
					<key>interactor</key>
					<dict>
						<key>class</key>
						<string>CPSKeyIndustryGridInteractor</string>
						<key>resource_loaders</key>
						<array>
							<dict>
								<key>class</key>
								<string>CPSPropertyMappingResourceLoader</string>
								<key>arguments</key>
								<dict>
									<key>instance_class</key>
									<string>CPSAssetItem</string>
									<key>mapping</key>
									<string>secondary_asset_mapping</string>
									<key>data_file</key>
									<string>key_industries_resource</string>
									<key>target_data_keypath</key>
									<string>industryItems</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>presenter</key>
					<dict>
						<key>class</key>
						<string>CPSKeyIndustriesGridPresenter</string>
					</dict>
					<key>view</key>
					<dict>
						<key>identifier</key>
						<string>KeyIndustriesViewController</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>identifier</key>
			<string>menu.product_range</string>
			<key>title</key>
			<string>Products</string>
			<key>icon</key>
			<string></string>
			<key>content_wireframes</key>
			<array>
				<dict>
					<key>wireframe</key>
					<dict>
						<key>class</key>
						<string>CPSProductRangeWireframe</string>
						<key>arguments</key>
						<dict>
							<key>loadingViewControllerIdentifier</key>
							<string>LoadingViewController</string>
							<key>detailViewControllerIdentifier</key>
							<string>ProductDetailViewController</string>
						</dict>
					</dict>
					<key>interactor</key>
					<dict>
						<key>class</key>
						<string>CPSProductRangeListInteractor</string>
						<key>resource_loaders</key>
						<array>
							<dict>
								<key>class</key>
								<string>CPSPropertyMappingResourceLoader</string>
								<key>arguments</key>
								<dict>
									<key>instance_class</key>
									<string>CPSProductAssetItem</string>
									<key>mapping</key>
									<string>product_range_item_mapping</string>
									<key>data_file</key>
									<string>product_range_list_resource</string>
									<key>target_data_keypath</key>
									<string>productItems</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>presenter</key>
					<dict>
						<key>class</key>
						<string>CPSProductRangeListPresenter</string>
					</dict>
					<key>view</key>
					<dict>
						<key>identifier</key>
						<string>ProductRangeViewController</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>identifier</key>
			<string>menu.info_specifications</string>
			<key>title</key>
			<string>Product Deployment</string>
			<key>icon</key>
			<string></string>
			<key>content_wireframes</key>
			<array>
				<dict>
					<key>interactor</key>
					<dict>
						<key>class</key>
						<string>CPSInfoSpecInteractor</string>
						<key>resource_loaders</key>
						<array>
							<dict>
								<key>class</key>
								<string>CPSPropertyMappingResourceLoader</string>
								<key>arguments</key>
								<dict>
									<key>mapping</key>
									<string>spec_info_item_mapping</string>
									<key>instance_class</key>
									<string>CPSSpecificationInfoAssetItem</string>
									<key>target_data_keypath</key>
									<string>videoItems</string>
									<key>data_file</key>
									<string>info_spec_resource</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>presenter</key>
					<dict>
						<key>class</key>
						<string>CPSInfoSpecPresenter</string>
						<key>arguments</key>
						<dict>
							<key>introVideoFilename</key>
							<string>info_spec_animate_on.mp4</string>
						</dict>
					</dict>
					<key>view</key>
					<dict>
						<key>identifier</key>
						<string>InfoSpecViewController</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>identifier</key>
			<string>menu.clearvu</string>
			<key>title</key>
			<string>ClearVu</string>
			<key>icon</key>
			<string></string>
			<key>content_wireframes</key>
			<array>
				<dict>
					<key>interactor</key>
					<dict>
						<key>class</key>
						<string>CPSVideoListInteractor</string>
						<key>resource_loaders</key>
						<array>
							<dict>
								<key>class</key>
								<string>CPSPropertyMappingResourceLoader</string>
								<key>arguments</key>
								<dict>
									<key>mapping</key>
									<string>clearvu_item_mapping</string>
									<key>instance_class</key>
									<string>CPSAssetItem</string>
									<key>target_data_keypath</key>
									<string>videoItems</string>
									<key>data_file</key>
									<string>clearvu_resource</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>presenter</key>
					<dict>
						<key>class</key>
						<string>CPSClearVuListPresenter</string>
						<key>arguments</key>
						<dict>
							<key>introVideoFilename</key>
							<string>clearvu_animate_on.mp4</string>
						</dict>
					</dict>
					<key>view</key>
					<dict>
						<key>identifier</key>
						<string>ClearVuViewController</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>identifier</key>
			<string>menu.graphs</string>
			<key>title</key>
			<string>Graphs</string>
			<key>icon</key>
			<string></string>
			<key>content_wireframes</key>
			<array>
				<dict>
					<key>interactor</key>
					<dict>
						<key>class</key>
						<string>CPSVideoListInteractor</string>
						<key>resource_loaders</key>
						<array>
							<dict>
								<key>class</key>
								<string>CPSPropertyMappingResourceLoader</string>
								<key>arguments</key>
								<dict>
									<key>mapping</key>
									<string>graphs_item_mapping</string>
									<key>instance_class</key>
									<string>CPSAssetItem</string>
									<key>target_data_keypath</key>
									<string>videoItems</string>
									<key>data_file</key>
									<string>graphs_resource</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>presenter</key>
					<dict>
						<key>class</key>
						<string>CPSGraphListPresenter</string>
					</dict>
					<key>view</key>
					<dict>
						<key>identifier</key>
						<string>GraphListViewController</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>identifier</key>
			<string>menu.outroduction</string>
			<key>title</key>
			<string>Outro</string>
			<key>icon</key>
			<string></string>
			<key>content_wireframes</key>
			<array>
				<dict>
					<key>interactor</key>
					<dict>
						<key>class</key>
						<string>CPSVideoPlayerInteractor</string>
						<key>arguments</key>
						<dict>
							<key>videoName</key>
							<string>B_Slide_17_Research_&amp;_Development.mp4</string>
						</dict>
					</dict>
					<key>presenter</key>
					<dict>
						<key>class</key>
						<string>CPSVideoPlayerPresenter</string>
					</dict>
					<key>view</key>
					<dict>
						<key>identifier</key>
						<string>VideoPlayerViewController</string>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
