<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>menu_items</key>
	<array>
		<dict>
			<key>title</key>
			<string>Intro</string>
			<key>icon</key>
			<string></string>
			<key>content_wireframes</key>
			<array>
				<dict>
					<key>presenter</key>
					<dict>
						<key>class</key>
						<string>CPSAccessPagePresenter</string>
					</dict>
					<key>view</key>
					<dict>
						<key>storyboard</key>
						<string>Main</string>
						<key>identifier</key>
						<string>AccessPageViewController</string>
					</dict>
				</dict>
				<dict>
					<key>interactor</key>
					<dict>
						<key>class</key>
						<string>CPSVideoPlayerInteractor</string>
						<key>arguments</key>
						<dict>
							<key>videoName</key>
							<string>B_Slide_02_Cochrane_Logo.mp4</string>
						</dict>
					</dict>
					<key>presenter</key>
					<dict>
						<key>class</key>
						<string>CPSVideoPlayerPresenter</string>
					</dict>
					<key>view</key>
					<dict>
						<key>identifier</key>
						<string>VideoPlayerViewController</string>
					</dict>
				</dict>
				<dict>
					<key>interactor</key>
					<dict>
						<key>class</key>
						<string>CPSVideoPlayerInteractor</string>
						<key>arguments</key>
						<dict>
							<key>videoName</key>
							<string>B_Slide_03_to_Slide_05.mp4</string>
						</dict>
					</dict>
					<key>presenter</key>
					<dict>
						<key>class</key>
						<string>CPSVideoPlayerPresenter</string>
					</dict>
					<key>view</key>
					<dict>
						<key>identifier</key>
						<string>VideoPlayerViewController</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Cost of Risk</string>
			<key>icon</key>
			<string></string>
			<key>content_wireframes</key>
			<array>
				<dict>
					<key>interactor</key>
					<dict>
						<key>class</key>
						<string>CPSCostOfRiskInteractor</string>
						<key>resource_loaders</key>
						<array>
							<dict>
								<key>class</key>
								<string>CPSCostOfRiskResourceLoader</string>
								<key>arguments</key>
								<dict>
									<key>datasource_keypath</key>
									<string>presentationItems</string>
									<key>data_file</key>
									<string>cost_of_risk_resource</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>presenter</key>
					<dict>
						<key>class</key>
						<string>CPSPlaceholderPresenter</string>
					</dict>
					<key>view</key>
					<dict>
						<key>identifier</key>
						<string>PlaceholderViewController</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Uses</string>
			<key>icon</key>
			<string></string>
			<key>content_wireframes</key>
			<array>
				<dict>
					<key>wireframe</key>
					<dict>
						<key>class</key>
						<string>CPSPlaceholderWireframe</string>
						<key>arguments</key>
						<dict>
							<key>placeholderText</key>
							<string>Uses</string>
						</dict>
					</dict>
					<key>presenter</key>
					<dict>
						<key>class</key>
						<string>CPSPlaceholderPresenter</string>
					</dict>
					<key>view</key>
					<dict>
						<key>identifier</key>
						<string>PlaceholderViewController</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Product Range</string>
			<key>icon</key>
			<string></string>
			<key>content_wireframes</key>
			<array>
				<dict>
					<key>wireframe</key>
					<dict>
						<key>class</key>
						<string>CPSPlaceholderWireframe</string>
						<key>arguments</key>
						<dict>
							<key>placeholderText</key>
							<string>Product Range</string>
						</dict>
					</dict>
					<key>presenter</key>
					<dict>
						<key>class</key>
						<string>CPSPlaceholderPresenter</string>
					</dict>
					<key>view</key>
					<dict>
						<key>identifier</key>
						<string>PlaceholderViewController</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Deployment Information and Specifications</string>
			<key>icon</key>
			<string></string>
			<key>content_wireframes</key>
			<array>
				<dict>
					<key>wireframe</key>
					<dict>
						<key>class</key>
						<string>CPSPlaceholderWireframe</string>
						<key>arguments</key>
						<dict>
							<key>placeholderText</key>
							<string>Deployment Information and Specifications</string>
						</dict>
					</dict>
					<key>presenter</key>
					<dict>
						<key>class</key>
						<string>CPSPlaceholderPresenter</string>
					</dict>
					<key>view</key>
					<dict>
						<key>identifier</key>
						<string>PlaceholderViewController</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>ClearVu</string>
			<key>icon</key>
			<string></string>
			<key>content_wireframes</key>
			<array>
				<dict>
					<key>wireframe</key>
					<dict>
						<key>class</key>
						<string>CPSPlaceholderWireframe</string>
						<key>arguments</key>
						<dict>
							<key>placeholderText</key>
							<string>ClearVu</string>
						</dict>
					</dict>
					<key>presenter</key>
					<dict>
						<key>class</key>
						<string>CPSPlaceholderPresenter</string>
					</dict>
					<key>view</key>
					<dict>
						<key>identifier</key>
						<string>PlaceholderViewController</string>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
